* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url('../../public/images/loginbg.jpg');
    /* background-image: url('../../public/images/registerbg.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.login {
    width: 420px;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.545); */
    background-color: rgba(255, 255, 255, 0.115);
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
    padding: 30px 0px 30px 0px;

}

.login:hover {
    box-shadow: 0 0 8px rgba(141, 178, 231, 0.1);
}

.login h1 {
    text-align: center;
    font-size: 30px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 15px;
}

.input-style {
    width: 78%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    /* margin: 20px; */
    background-color: transparent;
    outline: none;
    transition: all 0.35s ease-in-out;
    font-size: 17px;
    padding-left: 20px;
    color: #ffffff;
    letter-spacing: 1.4px;

}

.input-style:hover {
    /* border-color: #007bff; */
    border-color: #27c9db;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-style::placeholder {
    color: #ffffff;
}

.button-style {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #46aad2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    margin-top: 14px;

}

.button-style:hover {
    background-color: rgba(15, 95, 181, 0.5);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-link {
    color: #2beaff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.register-link:hover {
    color: #0b80e7;
}

/* .input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
} */